body, html {
    font-family: 'Roboto', Arial, sans-serif;
    height: 100%;
    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
}

.common-content {
    position: absolute;
    top: 45px;
    left: 7px;
    font-size: 11px;
}

.attraction-content {
    position: absolute;
    top: 80px;
    left: 7px;
    font-size: 11px;
}

.nightlife-content {
    position: absolute;
    top: 115px;
    left: 7px;
    font-size: 11px;
}

.yandex-estate-content {
    position: absolute;
    top: 150px;
    left: 7px;
    font-size: 11px;
}